.carousel-container {
  position: relative;
  height: 100vh;
  margin: 0 -8px;
}

.carousel-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  animation: slideInUp 1s forwards; /* Updated animation */
  z-index: 2; 
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translate(-50%, 20%); /* Start from below */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%); /* End at the center */
  }
}

.carousel-text h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.carousel-text h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.carousel-text p {
  font-size: 1rem;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
  .carousel-container {
    height: 60vh; /* Adjust height for smaller screens */
  }

  .carousel-text {
    padding: 5px; /* Reduce padding on smaller screens */
    font-size: 0.8rem; /* Reduce font size */
  }

  .carousel-text h2 {
    font-size: 2rem; /* Adjust font size for titles */
  }

  .carousel-text h3 {
    font-size: 1.2rem; /* Adjust font size for subtitles */
  }

  .carousel-text p {
    font-size: 0.8rem; /* Adjust font size for text */
  }
}

@media (max-width: 680px) {
  .carousel-container {
    height: 50vh; /* Further adjustment for very small screens */
  }
  .carousel-image {
    height: 50vh; /* Further adjustment for very small screens */
  }

  .carousel-text {
    font-size: 0.7rem; /* Further reduce font size */
  }

  .carousel-text h2 {
    font-size: 1.5rem; /* Further adjust font size for titles */
  }

  .carousel-text h3 {
    font-size: 1rem; /* Further adjust font size for subtitles */
  }

  .carousel-text p {
    font-size: 0.7rem; /* Further adjust font size for text */
  }
}
