.nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.nav-bar {
  padding-bottom: 1px;
  transition: transform 0.3s ease-in-out;
  /* background-color: rgb(54, 74, 92); */
}

.nav-bar-scroll-up {
  transform: translateY(20px); /* Adjust the value as needed */
  
}

.navbar {
  position: fixed;
  top: -20px;
  width: 100%;
  background-color: #030749;
  color: white;
  display: flex;
  justify-content: center;
  transition: top 0.3s ease-in-out;
  z-index: 1000;
}

.navbar--hidden {
  top: -60px; /* Adjust based on navbar height */
}

.navbar-content {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-right: 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar-link-top {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Media queries */
@media (max-width: 760px) {
  .navbar-content {
      justify-content: space-around;
  }

  .navbar-link-top {
      display: none;
  }

  .nav-bar-scroll-up {
    transform: translateY(0);
  }
}

.navlink {
  text-decoration: none;
}
.navlink-logo {
  text-decoration: none;
}

.navlink.active {
  background-color: #030749;
  color: white;
}

.navbar-link.active {
  background-color: #030749;
  color: white;
}
