.introduction {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9; /* Light background to make text stand out */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  }
  
  .introduction h2 {
    font-size: 2.5rem; /* Responsive font size */
    color: #1a237e; /* Dark blue color */
    margin: 20px 0;
    font-family: 'Arial', sans-serif; /* Consistent font style */
  }
  
  .introduction p {
    font-size: 1.2rem; /* Slightly larger font for better readability */
    color: #333; /* Darker text color for contrast */
    line-height: 1.6; /* Improved line spacing for readability */
    max-width: 800px; /* Max width to limit text line length */
    margin: 0 auto; /* Center align text */
  }
  
  .introduction hr {
    width: 30%;
    border-width: 1px;
    border-color: #fd5507; /* Accent color */
    margin: 20px auto; /* Center align hr and add margin */
  }
  
  .introduction h4 {
    font-size: 2.5rem; /* Adjusted size for better hierarchy */
    color: #1a237e; /* Dark blue color */
    font-family: 'Arial', sans-serif; /* Consistent font style */
  }
  