.footer {
    background-color: #030749; /* Dark blue background */
    color: #fff; /* White text color */
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -8px;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo-img {
    height: 50px;
    margin-right: 15px;
  }
  
  .footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
  }
  
  .footer-links {
    display: flex;
    flex-direction: column;
  }
  
  .footer-text {
    margin: 0;
  }
  
  .footer-link {
    transition: background-color 0.3s ease, color 0.3s ease; 
    color: #fd5507; 
    text-decoration: none;
    padding: 10px;
    margin: 0 5px;
  }
  
  .footer-link:hover {
    background-color: rgb(253, 85, 7, 0.4); 
    color: #ffffff; 
    border-radius: 5px; 
  }
  
  .footer-bottom {
    margin-top: 20px;
  }

  .footer-text-last {
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .footer-top {
      flex-direction: column;
    }
  }
  