.slick-dots li button:before {
  font-size: 12px;
  color: #d32f2f; 
}

.slick-dots li.slick-active button:before {
  color: #1a237e; 
}

.slick-prev:before, .slick-next:before {
  font-size: 20px;
  color: #1a237e; 
}

.slider-container {
  margin:50px 30px; 
}

.slider-item {
  padding: 10px; 
}